<!DOCTYPE html>
<html>
  <head>
    <title>Bbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "ひとことBBS", "/" %></h1>
      <ul>
        <li>
          <%= link_to "新規投稿", "/tweets"%>
        </li>
        <li>
        <%= link_to "お問合わせ", "/contacts" %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
